.gradient-background {
    background: linear-gradient(300deg, #000000, rgb(44, 46, 48), #000000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .main-background{
    background-color: #000000;
  }

  hr{
    color: white;
    border-width: 2px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;

  }






  /*About us*/
  .card{
    background-color: black;
    border-color: black;
    margin-bottom: 200px;
    
   
}

.card2{
    background-color: black;
    border-color: black;
    margin-bottom: 200px;
    margin-top: 150px;
}

.name{

    color: white;
    margin-left: 50px;
    margin-bottom: 180px;
}

.container{
    margin-top: 7%;
    display: flex; 
    justify-content: left; 
    align-items: center;
}






  /*galleries*/


  .carousel{
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }

  .carousel-item img {
    margin: 0 auto;
  }

  .descriptionOnPicture{
    color: white;
    text-align: center;
    margin-top: 5px;    
}


#footergallery{
    margin-top: 300px;
}



#family{
    font-family: 'Bruno Ace', cursive;
  }









