body {
    background-color: black;
    background-image: url("./assets/images/home5.jpg");
    background-size:cover; /* Adjusts the image size to cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
   
  }
  

 

  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    z-index: 999;
    text-align: center;
  }

  .mainheader {
    color: white;
    font-family: 'Bruno Ace SC', cursive;   
  }

  .nav {
    position: fixed;
    top: 150px; /* Adjust this value to leave space between the header and nav bar */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: transparent;
    list-style-type: none;
    padding: 0;
    z-index: 999;
  }

  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }

  .nav-link {
    color: white;
  }

  .content {
    margin-top: 150px; /* Adjust this value to leave space for the fixed header and nav bar */
    padding: 20px;
  }
  



.text1{
  color: aliceblue;
  margin-top: 100%;
}

  
  

