/* Style the content */
body{
    background-image: url("./assets/images/trainstation.jpeg");
    background-size: cover;
    background-repeat:no-repeat; /* Prevents the image from repeating */

}

.content {
    text-align: center;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    color:aliceblue;

  }

  
  .topnav a {
    background-color: transparent;

    display:inline-block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
